{% extends "cours/base.html" %}

{% load i18n %}

{#TODO:#}
{#    -Mettre le texte du cadre en blanc#}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block contenu %}
     <style>
        .login-content .form-verification {
            position: relative;
            z-index: 99;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        .form-verification {
            background-color: rgba(0, 0, 0, 0.6);
            padding: 45px;
            margin-bottom: 70px;
        }

        .form-verification h1 {
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            color: #fff;
            text-align: center;
        }
    </style>
    <section id="login-content" class="login-content">
        <div class="awe-parallax bg-login-content"></div>
        <div class="awe-overlay"></div>
        <div class="container">
            <div class="form-verification">
                <h1>Déconnexion</h1>

                <p>{% trans 'Voulez-vous vraiment vous déconnecter ?' %}</p>

                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">Se déconnecter</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
