{% extends "cours/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block contenu %}
    <section id="login-content" class="login-content">
        <div class="awe-parallax bg-login-content"></div>
        <div class="awe-overlay"></div>
        <div class="container">
            <div class="panel panel-default panel-body">
                <strong>Changer votre mot de pass</strong>
                <hr>
                Nous vous avons envoyé un mail pour changer votre mot de pass. Contactez-nous à homeschool-cameroun@gmail.com
                si vous n'avez pas encore reçu de mail.
            </div>
        </div>
    </section>
{% endblock %}
