{% extends "cours/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block contenu %}
    <section id="login-content" class="login-content">
        <div class="awe-parallax bg-login-content"></div>
        <div class="awe-overlay"></div>
        <div class="container">
            <div class="panel panel-default panel-body">
                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Changer votre mot de pass" %}{% endif %}</h1>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

                {% else %}
                    {% if form %}
                        <form method="POST" action="" class="uniForm">
                            {% csrf_token %}
                            <div id="div_id_password1"
                                 class="form-group">
                                <label for="id_password1"
                                       class="control-label  requiredField">
                                    Nouveau mot de pass
                                </label>
                                <div class="controls ">
                                    <input name="password1"
                                           class="textinput textInput form-control"
                                           placeholder="Nouveau mot de pass"
                                           required=""
                                           id="id_password1"
                                           type="password">
                                </div>
                            </div>
                            <div id="div_id_password2"
                                 class="form-group">
                                <label for="id_password2"
                                       class="control-label  requiredField">
                                    Confirmer le nouveau mot de pass
                                </label>
                                <div class="controls ">
                                    <input name="password2"
                                           class="textinput textInput form-control"
                                           placeholder="Confirmer le nouveau mot de pass"
                                           required=""
                                           id="id_password2"
                                           type="password">
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">{% trans "Changer le mot de pass" %}</button>
                            </div>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
