{% extends "cours/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block contenu %}

    <section id="login-content" class="login-content">
        <div class="awe-parallax bg-login-content"></div>
        <div class="awe-overlay"></div>
        <div class="container">
            <div class="panel panel-default panel-body">
                <h1>Retrouvez votre mot de pass</h1>

                <p>
                    Pour récupérer un nouveau mot de passe, nous devons vérifier que vous êtes bien le propriétaire de
                    compte Homeschool.

                    Une fois identifié, nous vous enverrons un e-mail pour modifier le mot de passe du compte concerné.

                    L'adresse e-mail est un élément personnel et confidentiel. Vous devez utiliser votre propre adresse
                    e-mail et surtout pas celle d'un ami, celle de votre guilde ni même celle d'un membre de votre
                    famille.

                    <strong>Veillez saisir l'adresse mail associée à votre compte !</strong>
                </p>

                <form method="POST" action="" >
                    {% csrf_token %}
                    <div id="div_id_email" class="form-group">
                        <label for="id_email"
                               class="control-label
                               requiredField">
                            Adresse mail
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="controls ">
                            <input name="email"
                                   class="textinput textInput form-control"
                                   placeholder="test@mail.com"
                                   required=""
                                   size="30"
                                   id="id_email"
                                   type="email">
                        </div>
                    </div>
                    <div class="form-actions">
                      <input class="btn btn-primary" type="submit" value="{% trans "Reset My Password" %}" />
                    </div>
                </form>

                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    </section>

{% endblock %}

{% block extra_javascript %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
