{% load staticfiles %}
{% load tags %}
{% if eleve %}
    {% else %}
<section class="profile-feature">
    <div class="awe-parallax bg-profile-feature"></div>
    <div class="awe-overlay overlay-color-3"></div>
    <div class="container">
        <div class="info-author">
            {% if request.user|masculin_enseignant %}
                <div class="image">
                    <img src="{% static 'megacourse/images/man.png' %}" alt="">
                </div>
            {% else %}
                <div class="image">
                    <img src="{% static 'megacourse/images/woman.jpeg' %}" alt="">
                </div>
            {% endif %}
            <div class="name-author">
                <h2 class="big">{{ request.user|nom_enseignant }}</h2>
            </div>
            <div class="address-author">
                <i class="fa fa-map-marker-alt"></i>
                <h3>{{ request.user|situation_enseignant }}</h3>
            </div>
        </div>
        <div class="info-follow">
            <div class="trophies">
            <div class="trophies">
                <p>Nombre d'élèves</p>
                <span>{{ request.user|nombre_eleves_enseignant }}</span>
            </div>
            <div class="trophies">
                <p>Nombre de cours</p>
                <span>{% compte_nombre_cours request.user.username %}</span>
            </div>
            <div class="trophies">
                <p>Crédit disponible</p>
                <span>{% compte_debit request.user.username %} FCFA</span>
            </div>
        </div>
    </div>
</section>
<!-- END / PROFILE FEATURE -->
{% endif %}